* {
    box-sizing: border-box;
}

body {
    background-color: rgb(17 24 39);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    font-size: 20px;
    margin: 50px auto;
}

#rcps li {
    padding: 0.5rem 1.5rem 1rem;
    list-style-type: none;
    border-radius: 1.5rem;
    background-color: rgb(25, 45, 65);
}

#rcps li a {
    color: antiquewhite;
    text-decoration: none;
    /*background-color: rgb(42, 56, 87);*/
}

li+li {
    margin-top: 1rem;
}

img {
    height: auto;
    width: 600px;
    border: 1px solid rgb(218, 209, 201);
}